@(form: Form[controllers.pojos.Login])

<!DOCTYPE html>
<html lang="en"  class="body-error"><head>
    <meta charset="utf-8">
    <title>@Messages("login.pageTitle")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

        <!-- Le styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/login.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/icon/font-awesome.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.css")">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

        <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")">

</head>

    <body>

        <div id="header" role="banner">
            <!--Logo--><a href="#" class="logo"><h1>TyreBoard</h1></a><!--Logo END-->
        </div>
        <div id="wrapper">

            <div id="login" class="animate form position">
                    <!--<form action="dashboard.html" class="form-login">-->
                @helper.form(routes.Application.login) {
                    <div class="content-login">
                        <div class="header">@Messages("login.formTitle")</div>

                        <div class="inputs">
                            @if(form.hasGlobalErrors) {
                                <div class="alert alert-danger">
                                @Messages(form.globalError.message)
                                </div>
                            }
                            <input name="username" type="text" placeholder="@Messages("login.formField.username")" value="@form("username").value"/>
                            <input name="password" type="password"  placeholder="@Messages("login.formField.password")" />
                        </div>

                        <div class="link-1"><a href="@routes.Application.newUser()">@Messages("login.button.newAccount")</a></div>
                        <div class="link-2"><a href="@routes.Application.forgotPassword()">@Messages("login.button.forgotPassword")</a></div>
                        <div class="clear"></div>
                        <div class="button-login"><input type="submit" class="" value="@Messages("login.button.signIn")"></div>
                    </div>

                        <!--
                    <div class="footer-login">
                            <div class="pull-left">Sing In With</div>
                <div class="pull-right">
                    <ul class="social-links">
                        <li class="facebook"><a href="#"><span>facebook</span></a></li>
                        <li class="twitter"><a href="#"><span>twitter</span></a></li>
                        <li class="google-plus"><a href="#"><span>google</span></a></li>
                    </ul>
                </div>

                        <div class="clear"></div>
                    </div>
                    -->
                }

            </div>


        </div>





            <!-- Le javascript
================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("js/jquery.min.js")"></script>


    </body>
</html>

