@(user: User)(content: Html)

<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>@Messages("main.pageTitle")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="">

        <!-- Le styles -->
    <link href="@routes.Assets.at("css/style.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">

    <link rel="stylesheet" href="@routes.Assets.at("css/jquery-ui-1.8.16.custom.css")" media="screen"  />
    <link rel="stylesheet" href="@routes.Assets.at("css/fullcalendar.css")" media="screen" />
    <link rel="stylesheet" href="@routes.Assets.at("css/chosen.css")" media="screen"/>
    <link rel="stylesheet" href="@routes.Assets.at("css/glisse.css?1.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/jquery.jgrowl.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/demo_table.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/jquery.fancybox.css?v=2.1.4")" media="screen"/>

    <link rel="stylesheet" href="@routes.Assets.at("css/icon/font-awesome.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-responsive.css")">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script language="JavaScript">
    Firefox = navigator.userAgent.indexOf("Firefox") >= 0;
    if(Firefox) document.write("<link rel='stylesheet' href='@routes.Assets.at("css/moz.css")' type='text/css'>");
    </script>

        <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")">

</head>

    <body>
        @header.render(user)
        <div id="wrap">
            @sidebar.render()
            @content
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
         <script src="@routes.Assets.at("js/jquery.min.js")"></script>
        <script src="@routes.Assets.at("js/jquery-ui.min.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("js/google-code-prettify/prettify.js")"></script>
        @*<script src="@routes.Assets.at("js/jquery.flot.js")"></script>*@
        @*<script src="@routes.Assets.at("js/jquery.flot.pie.js")"></script>*@
        @*<script src="@routes.Assets.at("js/jquery.flot.orderBars.js")"></script>*@
        @*<script src="@routes.Assets.at("js/jquery.flot.resize.js")"></script>*@
        @*<script src="@routes.Assets.at("js/jquery.flot.categories.js")"></script>*@
        <script src="@routes.Assets.at("js/graphtable.js")"></script>
        <script src="@routes.Assets.at("js/fullcalendar.min.js")"></script>
        <script src="@routes.Assets.at("js/chosen.jquery.min.js")"></script>
        <script src="@routes.Assets.at("js/autoresize.jquery.min.js")"></script>
        <script src="@routes.Assets.at("js/jquery.autotab.js")"></script>
        <script src="@routes.Assets.at("js/jquery.jgrowl_minimized.js")"></script>
        <script src="@routes.Assets.at("js/jquery.dataTables.min.js")"></script>
        <script src="@routes.Assets.at("js/jquery.stepy.min.js")"></script>
        <script src="@routes.Assets.at("js/jquery.validate.min.js")"></script>
        <script src="@routes.Assets.at("js/raphael.2.1.0.min.js")"></script>
        <script src="@routes.Assets.at("js/justgage.1.0.1.min.js")"></script>
        <script src="@routes.Assets.at("js/glisse.js")"></script>
        <script src="@routes.Assets.at("js/styleswitcher.js")"></script>
        <script src="@routes.Assets.at("js/moderniz.js")"></script>
        <script src="@routes.Assets.at("js/jquery.sparkline.min.js")"></script>
        <script src="@routes.Assets.at("js/slidernav-min.js")"></script>
        <script src="@routes.Assets.at("js/jquery.fancybox.js?v=2.1.4")" type="text/javascript"></script>
        @*<script src="@routes.Assets.at("js/application.js")"></script>*@
        @*<script src="@routes.Assets.at("js/float.settings.infobox.js")"></script>*@
    </body>
</html>
